/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .hero-heading {
    font-size: 30px;
    line-height: 37px;
  }
  .sub-title {
    margin-bottom: 15px;
    line-height: 30px;
  }
  .avatar-img {
    width: 240px;
    height: 126px;
  }
  .hero-description {
    font-size: 16px;
    line-height: 24px;
  }
  .hero-button-section {
    gap: 25px;
    margin-left: 0;
  }
  .main-heading {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .project-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  .project-container .h5 {
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 15px;
  }
  .project-container {
    margin-bottom: 30px;
    padding: 0;
  }
  .section-padding {
    padding-top: 50px;
  }
  .contact-me-section {
    padding-bottom: 50px;
  }
  .skills-tabs .nav-link {
    font-size: 16px;
  }
  .tools-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
  }
  .tools-icon img {
    width: 30px;
  }
  .tools-listing li {
    font-size: 16px;
    width: 35%;
  }
  .tools-listing {
    gap: 25px 35px;
    width: 100%;
    padding: 0;
  }
  .skills-tabs {
    margin-bottom: 30px;
  }
  .contact-block .contact-info label {
    font-size: 20px;
  }
  .contact-block .contact-info span {
    font-size: 16px;
  }
  .contact-block {
    gap: 15px;
    padding: 20px;
    margin-bottom: 30px;
  }
  .contact-block img {
    width: 50px;
  }
  .menu-bar li a {
    font-size: 16px;
  }
  .profile-avatar {
    gap: 5px;
    font-size: 16px;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
  .btn-primary {
    font-size: 16px;
    padding: 10px 25px;
  }
  .avatar-img {
    display: none;
  }
  .hero-section {
    padding: 50px 0 0 0;
  }
  header {
    padding: 10px 0;
  }
  .gallery-link {
    margin: 0;
  }
  .gallery-block {
    margin-bottom: 30px;
  }
  .gallery-content .gallery-heading-main {
    font-size: 18px;
  }
  .progress-wrap {
    right: 20px;
    bottom: 20px;
    background-color: #fff;
  }
  .hamburger {
    right: 12px;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-heading {
    font-size: 35px;
    line-height: 45px;
  }
  .sub-title {
    margin-bottom: 20px;
  }
  .avatar-img {
    width: 240px;
    height: 126px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 30px;
  }
  .hero-button-section {
    gap: 25px;
    margin-left: 0;
  }
  .main-heading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .project-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  .project-container .h5 {
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 15px;
  }
  .project-container {
    margin-bottom: 30px;
    padding: 0;
  }
  .section-padding {
    padding-top: 70px;
  }
  .contact-me-section {
    padding-bottom: 70px;
  }
  .skills-tabs .nav-link {
    font-size: 16px;
  }
  .tools-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
  }
  .tools-icon img {
    width: 30px;
  }
  .tools-listing li {
    font-size: 16px;
  }
  .tools-listing {
    gap: 25px 35px;
  }
  .skills-tabs {
    margin-bottom: 30px;
  }
  .contact-block .contact-info label {
    font-size: 20px;
  }
  .contact-block .contact-info span {
    font-size: 16px;
  }
  .contact-block {
    gap: 15px;
    padding: 20px;
    margin-bottom: 30px;
  }
  .contact-block img {
    width: 50px;
  }
  .menu-bar li a {
    font-size: 16px;
  }
  .profile-avatar {
    gap: 10px;
    font-size: 20px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .btn-primary {
    font-size: 16px;
  }
  .avatar-img {
    display: none;
  }
  .gallery-link {
    margin: 0px;
  }
  .gallery-block {
    margin-bottom: 20px;
  }
  .gallery-image img {
    height: 200px;
  }
  .hero-section {
    padding: 70px 0 0 0;
  }
  .gallery-content .gallery-heading-main {
    font-size: 16px;
  }
  .progress-wrap {
    right: 20px;
    bottom: 20px;
    background-color: #fff;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .sub-title {
    margin-bottom: 20px;
  }
  .avatar-img {
    width: 240px;
    height: 126px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 30px;
  }
  .hero-button-section {
    gap: 25px;
    margin-left: 0;
  }
  .main-heading {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  .project-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  .project-container .h5 {
    font-size: 25px;
    margin-bottom: 7px;
    margin-top: 15px;
  }
  .project-container {
    margin-bottom: 50px;
    padding: 0;
  }
  .section-padding {
    padding-top: 30px;
  }
  .contact-me-section {
    padding-bottom: 30px;
  }
  .skills-tabs .nav-link {
    font-size: 16px;
  }
  .tools-icon {
    width: 95px;
    height: 95px;
    margin-bottom: 10px;
  }
  .tools-icon img {
    width: 40px;
  }
  .tools-listing li {
    font-size: 18px;
  }
  .tools-listing {
    gap: 35px 35px;
  }
  .skills-tabs {
    margin-bottom: 50px;
  }
  .contact-block .contact-info label {
    font-size: 20px;
  }
  .contact-block .contact-info span {
    font-size: 16px;
  }
  .contact-block {
    gap: 15px;
    padding: 20px;
    margin-bottom: 30px;
  }
  .contact-block img {
    width: 50px;
  }
  .menu-bar li a {
    font-size: 16px;
  }
  .profile-avatar {
    gap: 10px;
    font-size: 20px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .btn-primary {
    font-size: 16px;
  }
  .avatar-img {
    display: none;
  }
  .gallery-link {
    margin: 0px;
  }
  .gallery-block {
    margin-bottom: 20px;
  }
  .gallery-image img {
    height: 300px;
  }
  .hero-section {
    padding: 80px 0 0 0px;
  }
  .gallery-content .gallery-heading-main {
    font-size: 18px;
  }
  .progress-wrap {
    right: 20px;
    bottom: 20px;
    background-color: #fff;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-heading {
    font-size: 60px;
    line-height: 90px;
  }
  .avatar-img {
    width: 240px;
    height: 126px;
  }
  .hero-description {
    font-size: 22px;
    line-height: 32px;
  }
  .hero-button-section {
    gap: 35px;
    margin-left: 80px;
  }
  .main-heading {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 30px;
  }
  .project-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  .project-container .h5 {
    font-size: 27px;
    margin-bottom: 7px;
    margin-top: 15px;
  }
  .section-padding {
    padding-top: 70px;
  }
  .contact-me-section {
    padding-bottom: 70px;
  }
  .skills-tabs .nav-link {
    font-size: 16px;
  }
  .tools-icon {
    width: 115px;
    height: 115px;
    margin-bottom: 10px;
  }
  .tools-icon img {
    width: 55px;
  }
  .tools-listing {
    gap: 45px 65px;
  }
  .skills-tabs {
    margin-bottom: 50px;
  }
  .contact-block .contact-info label {
    font-size: 20px;
  }
  .contact-block .contact-info span {
    font-size: 16px;
  }
  .contact-block {
    gap: 15px;
    padding: 20px;
  }
  .contact-block img {
    width: 50px;
  }
  .menu-bar li a {
    font-size: 18px;
  }
  .profile-avatar {
    gap: 10px;
    font-size: 22px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .btn-primary {
    font-size: 18px;
  }
  .gallery-link {
    margin: 0px;
  }
  .gallery-block {
    margin-bottom: 40px;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .hero-heading {
    font-size: 80px;
  }
  .gallery-link {
    margin: 0px 10px;
  }
  .gallery-block {
    margin-bottom: 20px;
  }
  .section-padding {
    padding-top: 70px;
  }
  .contact-me-section {
    padding-bottom: 70px;
  }
}
