@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

body {
  font-family: "Syne", sans-serif;
  background-color: #ebf0f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Syne", serif;
}
ol,
ul {
  list-style: none;
}
header {
  padding: 5px 20px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #fff;
  flex-shrink: 0;
}
.profile-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  /* background: linear-gradient(to bottom right, #8F56CC, #5D4EC4); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: #222;
}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.menu-bar li {
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid transparent;
  background: rgb(255 255 255 / 36%);
}
.menu-bar li a {
  font-size: 16px;
  font-weight: bold;
  color: #717586;
  text-decoration: none;
}
.menu-bar li.active,
.menu-bar li:hover {
  border: 1px solid #d1d5e0;
}
.menu-bar li.active a,
.menu-bar li:hover a {
  color: #222;
}
.section-padding {
  padding-bottom: 120px;
}
.hero-section {
  padding: 150px 0;
}
.sub-title {
  background-color: #ebf0f7;
  border: 1px solid #d1d5e0;
  border-radius: 17px;
  padding: 0px 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.hero-heading {
  font-size: 90px;
  line-height: 110px;
  font-weight: bold;
  background: linear-gradient(to bottom right, #8f56cc, #5d4ec4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.avatar-img {
  width: 260px;
  height: 146px;
  border-radius: 100px;
  object-fit: cover;
}
.btn-primary {
  background: linear-gradient(to bottom right, #aa70e0, #7059e2);
  border: 0;
  border-radius: 26px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
}
.hero-description {
  font-size: 24px;
  line-height: 36px;
}
.hero-button-section {
  gap: 125px;
  margin-left: 140px;
}
/* .projects-section .main-heading {
  margin-bottom: 115px;
} */
.main-heading {
  font-size: 55px;
  font-weight: bold;
  line-height: 65px;
  background: linear-gradient(to bottom right, #8f56cc, #5d4ec4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}
.project-block {
  position: relative;
}
.project-image {
  width: 590px;
  height: 510px;
  border-radius: 16px;
  object-fit: cover;
}
.project-badge-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.project-badge {
  background-color: #ebf0f7;
  font-size: 15px;
  line-height: 15px;
  color: #22232c;
  padding: 10px 13px;
  border-radius: 50px;
}
.project-container {
  margin-bottom: 90px;
  text-decoration: none;
}
.project-container .h5 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 10px;
  margin-top: 20px;
}
.project-container .sub-category {
  font-size: 16px;
  color: #424550;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-container .sub-category span {
  width: 20px;
  height: 2px;
  background-color: #424550;
}
.project-container-padding {
  padding-left: 45px;
}
.contact-block {
  border: 1px solid #d1d5e0;
  background-color: #ebf0f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 18px;
  width: 100%;
  padding: 30px;
  cursor: pointer;
}
.contact-block .contact-info label {
  font-weight: bold;
  background: linear-gradient(to bottom right, #8f56cc, #5d4ec4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  display: block;
}
.contact-block .contact-info span {
  color: #222222;
  font-size: 18px;
}
.skills-tabs {
  border: 1px solid #d1d5e0;
  background-color: #ebf0f7;
  border-radius: 35px;
  padding: 8px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 70px;
}
.skills-tabs .nav-link {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding: 0px 20px;
  border-radius: 30px;
  color: #424550;
  height: 40px;
}
.skills-tabs .nav-link:hover {
  border-color: transparent;
}
.skills-tabs .nav-link.active {
  background: linear-gradient(to bottom right, #aa70e0, #7059e2);
  color: #fff;
}
.tools-listing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  flex-wrap: wrap;
}
.tools-listing li {
  font-size: 20px;
  font-weight: 600;
  color: #222222;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tools-icon {
  border: 1px solid #d1d5e0;
  background-color: #ebf0f7;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  margin-bottom: 20px;
}
.tools-icon img {
  width: 65px;
}
.gradient-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.blur:nth-child(1){
  position: absolute;
  z-index: 1;
  -moz-border-radius: 900px;
  border-radius: 900px;
  -webkit-filter: blur(clamp(40px, 7vw, 90px));
  filter: blur(clamp(40px, 7vw, 90px));
}
.blur:nth-child(2){
  position: absolute;
  z-index: 1;
  -moz-border-radius: 900px;
  border-radius: 900px;
  -webkit-filter: blur(clamp(40px, 7vw, 90px));
  filter: blur(clamp(40px, 7vw, 90px));
}
.blur:nth-child(3){
  position: absolute;
  z-index: 1;
  -moz-border-radius: 900px;
  border-radius: 900px;
  -webkit-filter: blur(clamp(40px, 7vw, 90px));
  filter: blur(clamp(40px, 7vw, 90px));
}
.blur:nth-of-type(1) {
  background: #cec4ef;
  height: clamp(400px, 20vw, 60vw);
  width: -moz-calc(clamp(400px, 30vw, 70vw) * 1.1);
  width: calc(clamp(400px, 30vw, 70vw) * 1.1);
  top: -10vh;
  right: -5vw;
}
.blur:nth-of-type(2) {
  background: #f5c5cd;
  height: clamp(300px, 16vw, 46vw);
  width: -moz-calc(clamp(300px, 16vw, 56vw) * 0.75);
  width: calc(clamp(300px, 16vw, 56vw) * 0.75);
  top: 5vh;
  right: 0vw;
}
.blur:nth-of-type(3) {
  background: #ac8fe3;
  height: clamp(100px, 20vw, 20vw);
  width: -moz-calc(clamp(100px, 20vw, 20vw) * 2);
  width: calc(clamp(100px, 20vw, 20vw) * 2);
  top: -10vh;
  left: -10vw;
}
.z-1 {
  z-index: 1;
}
.contact-block:hover {
  background-color: #7852c8;
}
.contact-block:hover .contact-info label {
  background: none !important;
  color: #fff;
  -webkit-text-fill-color: unset;
}
.contact-block:hover .contact-info span {
  color: #fff;
}
.contact-block:hover img {
  filter: brightness(0) invert(1);
}
.contact-block img{
  width: 50px;
  object-fit: contain;
}
a, a:hover {
  transition: 1s all ease-in-out;
}
.gallery-block{
  margin-bottom: 70px;

}

.gallery-link{
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  margin: 0 30px;
  display: block;
}
.gallery-image img{
  /* border: 1px solid rgb(218, 218, 218); */
  border-radius: 15px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.gallery-content{
  padding: 10px;
}
.gallery-content .gallery-heading-title{
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
  margin-bottom: 0;
}
.gallery-content .gallery-heading-main{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  color: #111111;
  margin-bottom: 0;
}
.gallery-content .gallery-heading-main span{
  display: inline-block;
  color: #CCCCCC;
}
.gallery-image{
  transition: all 0.5s ease;

}
.gallery-link:hover .gallery-image{

  transform: translateY(-10px);
  transition: all 0.5s ease;
}
.menu-toggle img{
  filter: brightness(0) invert(1);
}
.menu-toggle {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}